<title>{{ page.title }} | My Homepage</title>
<link rel="stylesheet" href="/assets/css/lib/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/styles.css">
<script type="text/javascript" language="javascript" src="/assets/js/lib/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="/assets/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="/assets/js/lib/underscore-min.js"></script>
<script type="text/javascript" language="javascript" src="/assets/js/js.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
